@import "./color"

.el-button
  transition: 0.3s
.inverted-button
  border: solid 1px $color-light-silver
  background-color: transparent
  color: $color-white
.inverted-button:hover
  border-color: $color-white
  color: $color-white

// Hack: Tweak vue-headroom style
.headroom
  position: fixed !important
.headroom--top
  transform: translateY(-100%) !important
.headroom--pinned
  transform: translateY(-100%) !important
.headroom--unpinned
  transform: translateY(0) !important

.container
  margin-left: auto
  margin-right: auto


