@import './color'

section
  background-color: $color-dark-white
  padding-top: 50px
  padding-bottom: 50px

  .title
    color: $color-black
    font-size: 2.2em
    line-height: 3.1em
    font-weight: 400

  .quote
    color: $color-silver
    font-style: italic
    font-size: 1em
    line-height: 2em

  .hr
    height: 1px
    width: 100px
    border-bottom: 2px solid $color-primary
    margin-bottom: 20px

  .detail
    display: flex
    margin-top: 35px

  .text
    color: $color-extra-light-dark
    line-height: 1.8em
    a
      color: $color-primary
      font-weight: 500
      transition: 0.3s
      text-decoration: none
      cursor: pointer
    a:hover
      color: $color-extra-light-dark

  .content
    padding-left: 20px
    .header
      color: $color-black
      font-weight: 500
      font-size: 1em
      line-height: 1.5em
      margin-bottom: 8px

  .service
    .badge
      font-size: 50px
      color: $color-primary
    .hr
      margin-bottom: 40px
    .header
      font-size: 1.2em
      line-height: 2.2em
      margin-top: 10px
    li
      list-style-type: none
    a
      color: $color-primary
      font-weight: 500
      transition: 0.3s
      text-decoration: none
    a:hover
      color: $color-extra-light-dark
    .more
      margin-top: 10px

  .sponsor
    margin-top: 40px
    margin-bottom: 100px
    display: flex
    justify-content: center
    img
      margin-right: 40px

.joinus
  background-color: rgba(0,0,0,0.6)
  .title
    color: $color-white
  .text
    color: $color-white
    font-weight: 500
  a:hover
    color: $color-white !important
  img
    margin-top: 10px
    margin-bottom: 20px
    width: 200px
    height: 200px
    border-radius: 5px
  .wechat
    margin-top: 20px
