@import './color'

.card
  border: rgba(132, 146, 166, 0.5) 1px solid
  background-color: $color-white
  border-radius: 5px
  //box-shadow: 0px 0px 7px 1px rgba(153,169,191,0.5)
  margin-top: 5px
  padding: 0 30px

.card .avatar
  width: 100px
  height: 100px
  border-radius: 50px
  display: block
  margin: 30px auto 10px

.card .name
  font-size: 1.2em
  line-height: 1.3em
  font-weight: 500
  text-align: center
  color: $color-extra-light-dark

.card .title
  font-style: italic
  color: $color-silver
  font-size: 0.8em
  text-align: center

.card ul
  list-style: none
  padding: 0
  margin: 10px
  color: $color-extra-light-dark

.card li
  padding-left: 1em
  text-indent: -.7em
  font-size: 0.9em

.card li i
  color: $color-primary

